$color_scrollbarY: #e1e1e1;
$width_scrollbar: 6px;

.js-scroll-container {
    overflow: hidden !important;
    position: relative;
    & > .js-scrollbar-y-wrap {
        display: none;
        background-color: transparent;
        width: $width_scrollbar;
        opacity: 1;
        position: absolute;
        transition: background-color .2s linear, opacity .2s linear;
        right: 0;
        & > .js-scrollbar-y {
					margin-right: 4px;
					cursor: pointer;
					position: absolute;
					border-radius: 3px;
					transition: background-color .2s linear, height .2s linear;
					background-color: $color_scrollbarY;
					right: 0;
					width: $width_scrollbar;
        }
    }
}